a{background:#FFF;margin-right:15px;color:#428bca;color:#000000;text-decoration: none;}
button{padding:0;margin:0;line-height:normal;border:0}
#top{width:100%;height:64px;background:rgba(0,0,0,0.5);border-bottom:1px solid #ddd;z-index:100;position:fixed;top:0px;}
.logo{float:left;}
.clearfix{overflow:auto;zoom:1}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden}
.logo img{height:50px;margin:auto;}
#top-menu{background-color: #ffffff;width: 100%;height:64px;}
#top ul{float:left;display:block;width:300px;line-height:64px;padding-top:3px;margin-left:50px;margin-top:0;position:relative}
#top ul{font-size:14px;font-weight:400;text-align:center;}
.login-zone{float:right;height:64px;width:200px;line-height:64px;margin-right:10px;margin-right:5px;position:absolute;right:0;}
.login-zone >.btns > input{width:90px;height:30px;border-radius: 25px;border:1px solid #000000;color:#ffffff;background-color: #323A45;}
#content{padding-top:0px;width:100%;height: auto;margin-top:64px;}
#lefttree{width:280px;height:auto;float:left; }
.title{width:100%;height: auto;font-size: 18px;padding: 0px;height: 32px;text-align: center;}
#lefttitle{text-align: left;margin-left: 15px;margin-top:50px;width: 100px;font-weight: bold;}
#tree{width:100%;height:auto;padding:15px;border-top: 4px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
#rightcotent{width:auto;height: auto;margin-left: 361px;}
.content{width: auto;border-top: 4px solid #ddd;margin-top: 50px}
#contenttitle{width: auto;margin-left: 30px;height: 100px;line-height: 100px;font-size: 16px;text-align: left;font-weight: bold;}
#detail{width: auto;height: auto;border:1px solid #ddd;margin-bottom: 10px;font-size: 16px;}
#docdetail{margin-bottom:40px;padding-left:10px;padding-right:25px;}
#docdetail p{text-indent:24px;margin-bottom:15px;line-height:32px;}
.statics_describ li {margin-bottom:8px;}
.fun_describ{width:auto;margin:20px  40px 20px 40px;height:auto;}
.fun_top{width: auto;height:auto;}
.fun_plus{margin:0 auto;float:left;width: 24px;}
.fun_title{margin-left:22px;margin-top:auto;margin-right:0px;margin-bottom:auto;font-size: 12px;font-weight: bold;}
.fun_det{width: auto;height:auto;margin-left:22px;margin-top:auto;margin-right:0px;margin-bottom:auto;font-size: 12px;}
.pretitle{width:100%;border-top: 1px solid #ddd;margin:10px 0px;padding-top: 10px;}
.precontent{width:100%;margin:0px;line-height:26px;padding-left:10px;padding-right:10px;}
.innerlink{color:blue;text-decoration:underline;margin:0px;}
#footer{width: 100%;height: 100px;border-top: 1px solid #ddd;}